<app-menu></app-menu>
<div class="registro_ven">
    <!-- Registro de ventas -->
    <h2>Registro de Ventas</h2>
    <form id="ventaForm">
        <div class="form-group">
            <label for="productoVenta">Producto:</label>
            <select class="form-control" id="productoVenta">
                <!-- Opciones de productos obtenidas de la base de datos -->
            </select>
        </div>
        <div class="form-group">
            <label for="cantidadVenta">Cantidad:</label>
            <input type="number" class="form-control" id="cantidadVenta" placeholder="Ingrese la cantidad">
        </div>
        <div class="row">
            <label for="cantidadCompra">Total: </label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="cantidadCompra" readonly>
            </div>
        </div><br>
        <div>
            <button type="submit" class="btn btn-primary">Registrar Venta</button>
        </div>
    </form>
</div>
<app-footer></app-footer>